@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Syncopate:wght@700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #1f023b;
  /*filter: grayscale(100%);*/
}
.App {
  text-align: center;
  background: rgb(255, 248, 152);
  background: linear-gradient(
    180deg,
    rgba(255, 248, 152, 1) 0%,
    rgba(109, 249, 242, 1) 0%,
    rgba(253, 114, 255, 1) 49%,
    rgba(255, 251, 65, 1) 100%
  );
  height: 100vh;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 2rem 0 0.5rem 0;
  color: #062af8;
}
.explication {
  border-radius: 15px;
  margin: auto;
  padding: 0.5rem;
  font-size: small;
  margin-bottom: 1rem;
  color: rgb(2, 2, 66);
  height: 2rem;
  width: 27.5rem;
  background-color: rgb(132, 0, 255);
}

.points {
  width: 410px;
  margin: auto;
}

.gridBox {
  margin-top: 1.5rem;
}
.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 1rem;
  width: 35vw;
  text-align: center;
}
.tile {
  background-color: rgb(51, 143, 248);
  transition: 0.3s;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
.tile:hover {
  background-color: #062af8;
  transform: scale(1.1);
  border-radius: 5px;
  color: white;
  letter-spacing: 2px;
  box-shadow: 0px 15px 20px rgba(34, 66, 53, 0.4);
  transform: translateY(-2px);
  transition: 0.5s;
}
.tileFound {
  background-color: rgb(248, 59, 201);
  pointer-events: none;
  transition: 0.6s;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  animation-name: found;
  animation-duration: 0.7s;
}

@keyframes found {
  0% {
    background-color: rgb(248, 59, 201);
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
    background-color: rgb(225, 250, 3);
  }
  20% {
    transform: scale(1.1);
    background-color: rgb(225, 250, 3);
  }
  100% {
    background-color: rgb(248, 59, 201);
    transform: scale(1);
  }
}

.tileVisibleFound {
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  padding-top: 2.5rem;
  display: block;
  pointer-events: none;
  transition: 0.3s;
}

.tileVisible {
  background-color: #062af8;
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  padding-top: 2.5rem;
  display: block;
  pointer-events: none;
  transition: 1s;
}

.tileHidden {
  display: none;
}
.winnerText {
  margin-bottom: 0.5rem;
}
.playBtn {
  margin-top: 0.5rem;
  background: rgb(255, 248, 152);
  background: linear-gradient(
    238deg,
    rgba(255, 248, 152, 1) 0%,
    rgba(7, 252, 240, 1) 0%,
    rgba(253, 114, 255, 1) 49%,
    rgba(255, 250, 0, 1) 100%
  );
  background-size: 300px;
  background-position: left;
  color: white;
  border-radius: 3px;
  padding: 0.4rem;
  border: none;
  width: 210px;
  transition: 0.3s background-position ease-in-out;
}

.playBtn:hover {
  background-position: right;
  color: white;
  border-radius: 3px;
  padding: 0.4rem;
  border: none;
  width: 210px;
  box-shadow: 0px 15px 20px rgba(34, 66, 53, 0.4);
  transform: translateY(-2px);
  transition: 0.5s;
}

/*  for mobiles  */
@media only screen and (max-width: 600px) {
  .App {
    height: 100%;
  }
  h1 {
    font-size: 39px;
    font-weight: 800;
    color: #062af8;
    padding: 2rem 0 1.5rem 0;
    letter-spacing: 0px;
  }
  .explication {
    border-radius: 15px;
    margin: auto;
    padding: 0.7rem;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 1rem;
    color: white;
    height: 4rem;
    width: 20rem;
    background: rgb(252, 65, 174);
  }
  .winnerText {
    margin-bottom: 0.5rem;
    font-size: 10px;
  }
  .points {
    width: 20rem;
    margin: auto;
  }
  .attempts,
  .couples {
    padding: 0.5rem;
    font-weight: 500;
    color: #031a9e;
  }

  .gridBox {
    margin-top: 1rem;
  }
  .grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 4.55rem);
    grid-template-rows: repeat(4, 4.55rem);
    gap: 0.6rem;
    width: 20rem;
    text-align: center;
    padding-bottom: 2rem;
  }

  .tile {
    background-color: rgb(51, 143, 248);
    transition: 0.3s;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
  }

  .tile:hover {
    background-color: #062af8;
    transform: scale(0.5);
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;
    box-shadow: 0px 15px 20px rgba(34, 66, 53, 0.4);
    transform: translateY(-1px);
    transition: 0.5s;
  }
  .tileFound {
    font-size: 13px;
    background-color: rgb(248, 59, 201);
    pointer-events: none;
    transition: 0.6s;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    animation-name: found;
    animation-duration: 0.7s;
  }

  @keyframes found {
    0% {
      background-color: rgb(248, 59, 201);
      transform: scale(1);
      font-size: 13px;

      letter-spacing: 2px;
    }
    10% {
      transform: scale(1.1);
      background-color: rgb(225, 250, 3);
      letter-spacing: 8px;
      font-size: 20px;
    }
    20% {
      transform: scale(1.1);
      background-color: rgb(225, 250, 3);
      letter-spacing: 8px;
      font-size: 20px;
    }
    100% {
      background-color: rgb(248, 59, 201);
      transform: scale(1);
      letter-spacing: 2px;
      font-size: 13px;
    }
  }

  .tileVisibleFound {
    color: white;
    border-radius: 5px;
    width: 4.55rem;
    height: 4.55rem;
    padding-top: 1.7rem;
    display: block;
    pointer-events: none;
    transition: 0.8s;
    letter-spacing: 1px;
  }

  .tileVisible {
    background-color: #062af8;
    color: white;
    border-radius: 5px;
    width: 4.55rem;
    height: 4.55rem;
    padding-top: 1.7rem;
    display: block;
    pointer-events: none;
    transition: 0.8s;
  }
  .playBtn {
    margin: 1rem;
    background: rgb(255, 248, 152);
    background: linear-gradient(
      238deg,
      rgba(255, 248, 152, 1) 0%,
      rgba(7, 252, 240, 1) 0%,
      rgba(253, 114, 255, 1) 49%,
      rgba(255, 250, 0, 1) 100%
    );
    background-size: 300px;
    background-position: left;
    box-shadow: 0px 15px 20px rgba(83, 104, 96, 0.4);

    color: white;
    border-radius: 8px;
    padding: 0.4rem;
    border: none;
    width: 210px;
    transition: 0.3s background-position ease-in-out;
  }
}

/*  medium mobiles*/
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 39px;
    font-weight: 800;
    color: #062af8;
    padding: 2rem 0 1.5rem 0;
    letter-spacing: 0px;
  }
  .explication {
    border-radius: 15px;
    margin: auto;
    padding: 1rem;
    font-size: 13px;
    font-weight: 500;
    line-height: 0px;
    margin-bottom: 1rem;
    color: white;
    height: 2.2rem;
    width: 28rem;
    background: rgb(252, 65, 174);
  }
  .winnerText {
    font-size: 10px;
  }
  .points {
    width: 22rem;
    margin: auto;
  }
  .attempts,
  .couples {
    padding: 0.5rem;
    font-weight: 500;
    color: #031a9e;
  }

  .gridBox {
    margin-top: 0rem;
  }
  .grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 7rem);
    grid-template-rows: repeat(4, 7rem);
    gap: 0.6rem;
    width: 31.5rem;
    text-align: center;
    padding: 1rem;
  }

  .tile {
    background-color: rgb(51, 143, 248);
    transition: 0.3s;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
  }

  .tile:hover {
    background-color: #062af8;
    transform: scale(0.5);
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;
    box-shadow: 0px 15px 20px rgba(34, 66, 53, 0.4);
    transform: translateY(-1px);
    transition: 0.5s;
  }
  .tileFound {
    font-size: 13px;
    background-color: rgb(248, 59, 201);
    pointer-events: none;
    transition: 0.6s;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    animation-name: found;
    animation-duration: 0.7s;
  }

  @keyframes found {
    0% {
      background-color: rgb(248, 59, 201);
      transform: scale(1);
      font-size: 13px;

      letter-spacing: 2px;
    }
    10% {
      transform: scale(1.1);
      background-color: rgb(225, 250, 3);
      letter-spacing: 8px;
      font-size: 20px;
    }
    20% {
      transform: scale(1.1);
      background-color: rgb(225, 250, 3);
      letter-spacing: 8px;
      font-size: 20px;
    }
    100% {
      background-color: rgb(248, 59, 201);
      transform: scale(1);
      letter-spacing: 2px;
      font-size: 13px;
    }
  }

  .tileVisibleFound {
    color: white;
    border-radius: 5px;
    width: 7rem;
    height: 7rem;
    padding-top: 3rem;
    display: block;
    pointer-events: none;
    transition: 0.8s;
    letter-spacing: 1px;
  }

  .tileVisible {
    background-color: #062af8;
    color: white;
    border-radius: 5px;
    width: 7rem;
    height: 7rem;
    padding-top: 3rem;
    display: block;
    pointer-events: none;
    transition: 0.8s;
  }
  .playBtn {
    margin: 2rem;
    background: rgb(255, 248, 152);
    background: linear-gradient(
      238deg,
      rgba(255, 248, 152, 1) 0%,
      rgba(7, 252, 240, 1) 0%,
      rgba(253, 114, 255, 1) 49%,
      rgba(255, 250, 0, 1) 100%
    );
    background-size: 300px;
    background-position: left;
    box-shadow: 0px 15px 20px rgba(83, 104, 96, 0.4);

    color: white;
    border-radius: 8px;
    padding: 1rem 0 1.5 0rem;
    border: none;
    width: 210px;
    transition: 0.3s background-position ease-in-out;
  }
}

/* tablets */

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 45px;
    font-weight: 800;
    color: #062af8;
    padding: 2rem 0 1.5rem 0;
    letter-spacing: 0px;
  }
  .explication {
    border-radius: 15px;
    margin: auto;
    padding: 1.5rem;
    font-size: 13px;
    font-weight: 500;
    line-height: 0px;
    margin-bottom: 1rem;
    color: white;
    height: 3rem;
    width: 30rem;
    background: rgb(252, 65, 174);
  }

  .points {
    width: 30rem;
    margin: auto;
    padding: 1rem;
  }
  .attempts,
  .couples {
    padding: 0.5rem;
    font-weight: 500;
    color: #031a9e;
  }

  .gridBox {
    margin-top: 1rem;
  }
  .grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 9.5rem);
    grid-template-rows: repeat(4, 9.5rem);
    gap: 0.6rem;
    width: 41.5rem;
    text-align: center;
  }

  .tile {
    background-color: rgb(51, 143, 248);
    transition: 0.3s;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
  }

  .tile:hover {
    background-color: #062af8;
    transform: scale(0.5);
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(34, 66, 53, 0.4);
    transform: translateY(-1px);
    transition: 0.5s;
  }
  .tileFound {
    font-size: 13px;
    background-color: rgb(248, 59, 201);
    pointer-events: none;
    transition: 0.6s;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    animation-name: found;
    animation-duration: 0.7s;
  }

  @keyframes found {
    0% {
      background-color: rgb(248, 59, 201);
      transform: scale(1);
      font-size: 20px;

      letter-spacing: 2px;
    }
    10% {
      transform: scale(1.1);
      background-color: rgb(225, 250, 3);
      letter-spacing: 8px;
      font-size: 40px;
    }
    20% {
      transform: scale(1.1);
      background-color: rgb(225, 250, 3);
      letter-spacing: 8px;
      font-size: 40px;
    }
    100% {
      background-color: rgb(248, 59, 201);
      transform: scale(1);
      letter-spacing: 2px;
      font-size: 20px;
    }
  }

  .tileVisibleFound {
    color: white;
    border-radius: 5px;
    width: 9.5rem;
    height: 9.5rem;
    padding-top: 4rem;
    font-size: 20px;
    display: block;
    pointer-events: none;
    transition: 0.8s;
    letter-spacing: 1px;
  }

  .tileVisible {
    background-color: #062af8;
    color: white;
    border-radius: 5px;
    width: 9.5rem;
    height: 9.5rem;
    padding-top: 4rem;
    font-size: 20px;
    display: block;
    pointer-events: none;
    transition: 0.8s;
  }

  .playBtn {
    font-size: 18px;
    font-weight: 500;
    margin-top: 1.5rem;
    background: rgb(255, 248, 152);
    background: linear-gradient(
      238deg,
      rgba(255, 248, 152, 1) 0%,
      rgba(7, 252, 240, 1) 0%,
      rgba(253, 114, 255, 1) 49%,
      rgba(255, 250, 0, 1) 100%
    );
    background-size: 300px;
    background-position: left;
    color: #f4f5fa;
    border-radius: 8px;
    box-shadow: 0px 15px 20px rgba(83, 104, 96, 0.4);
    padding: 0.4rem;
    border: none;
    width: 15rem;
    transition: 0.3s background-position ease-in-out;
  }
}

/*  medium size desktops */
@media only screen and (min-width: 992px) {
  .App {
    text-align: center;
    background: rgb(255, 248, 152);
    background: linear-gradient(
      180deg,
      rgba(255, 248, 152, 1) 0%,
      rgba(109, 249, 242, 1) 0%,
      rgba(253, 114, 255, 1) 49%,
      rgba(255, 251, 65, 1) 100%
    );
    height: 100vh;
  }

  h1 {
    font-size: 45px;
    font-weight: 800;
    color: #062af8;
    padding: 2rem 0 1rem 0;
    letter-spacing: 0px;
  }
  .explication {
    border-radius: 15px;
    margin: auto;
    padding: 1.5rem;
    font-size: 13px;
    font-weight: 500;
    line-height: 0px;
    margin-bottom: 1rem;
    color: white;
    height: 3rem;
    width: 30rem;

    background: rgb(252, 65, 174);
  }

  .points {
    width: 30rem;
    margin: auto;
    padding: 0rem;
  }
  .attempts,
  .couples {
    padding: 0.5rem;
    font-weight: 500;
    color: #031a9e;
  }

  .gridBox {
    margin-top: 0.5rem;
  }
  .grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 5.5rem);
    grid-template-rows: repeat(4, 5.5rem);
    gap: 0.5rem;
    width: 25.5rem;
    text-align: center;
    padding: 1rem;
  }

  .tile {
    background-color: rgb(51, 143, 248);
    transition: 0.3s;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
  }

  .tile:hover {
    font-size: 20px;
    background-color: #062af8;
    transform: scale(1.1);
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(34, 66, 53, 0.4);
    transition: 0.5s;
  }
  .tileFound {
    font-size: 15px;
    background-color: rgb(248, 59, 201);
    pointer-events: none;
    transition: 0.6s;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    animation-name: found;
    animation-duration: 0.7s;
  }

  @keyframes found {
    0% {
      background-color: rgb(248, 59, 201);
      transform: scale(1);
      font-size: 15px;

      letter-spacing: 2px;
    }
    10% {
      transform: scale(1.2);
      background-color: rgb(225, 250, 3);
      letter-spacing: 8px;
      font-size: 20px;
    }
    20% {
      transform: scale(1.2);
      background-color: rgb(225, 250, 3);
      letter-spacing: 8px;
      font-size: 20px;
    }
    100% {
      background-color: rgb(248, 59, 201);
      transform: scale(1);
      letter-spacing: 2px;
      font-size: 15px;
    }
  }

  .tileVisibleFound {
    color: white;
    border-radius: 5px;
    width: 5.5rem;
    height: 5.5rem;
    padding-top: 2rem;
    font-size: 15px;
    display: block;
    pointer-events: none;
    transition: 0.8s;
    letter-spacing: 1px;
  }

  .tileVisible {
    background-color: #062af8;
    color: white;
    border-radius: 5px;
    width: 5.5rem;
    height: 5.5rem;
    padding-top: 2rem;
    font-size: 15px;
    display: block;
    pointer-events: none;
    transition: 0.8s;
  }

  .playBtn {
    font-size: 18px;
    font-weight: 500;
    margin-top: 1.5rem;
    background: rgb(255, 248, 152);
    background: linear-gradient(
      238deg,
      rgba(255, 248, 152, 1) 0%,
      rgba(7, 252, 240, 1) 0%,
      rgba(253, 114, 255, 1) 49%,
      rgba(255, 250, 0, 1) 100%
    );
    background-size: 300px;
    background-position: left;
    color: #f4f5fa;
    border-radius: 8px;
    box-shadow: 0px 15px 20px rgba(83, 104, 96, 0.4);
    padding: 0.4rem;
    border: none;
    width: 15rem;
    transition: 0.3s background-position ease-in-out;
  }
}
