@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Syncopate:wght@700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #1f023b;
  /*filter: grayscale(100%);*/
}

.App {
  text-align: center;
  background: rgb(255, 248, 152);
  background: linear-gradient(
    180deg,
    rgba(255, 248, 152, 1) 0%,
    rgba(109, 249, 242, 1) 0%,
    rgba(253, 114, 255, 1) 49%,
    rgba(255, 251, 65, 1) 100%
  );
  height: 100vh;
}
h1 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 2rem 0 1rem 0;
  color: #062af8;
}

.points {
  width: 410px;
  margin: auto;
}

.gridBox {
  margin-top: 1.5rem;
}
.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 1rem;
  width: 35vw;
  text-align: center;
}
.tile {
  background-color: rgb(51, 143, 248);
  transition: 0.3s;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
.tile:hover {
  background-color: #062af8;
  transform: scale(1.1);
  border-radius: 5px;
  color: white;
  letter-spacing: 2px;
  box-shadow: 0px 15px 20px rgba(34, 66, 53, 0.4);
  transform: translateY(-2px);
  transition: 0.5s;
}
.tileFound {
  background-color: rgb(248, 59, 201);
  pointer-events: none;
  transition: 0.6s;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  animation-name: found;
  animation-duration: 0.7s;
}

@keyframes found {
  0% {
    background-color: rgb(248, 59, 201);
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
    background-color: rgb(225, 250, 3);
  }
  20% {
    transform: scale(1.1);
    background-color: rgb(225, 250, 3);
  }
  100% {
    background-color: rgb(248, 59, 201);
    transform: scale(1);
  }
}

.tileVisibleFound {
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  padding-top: 2.5rem;
  display: block;
  pointer-events: none;
  transition: 0.3s;
}

.tileVisible {
  background-color: #062af8;
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  padding-top: 2.5rem;
  display: block;
  pointer-events: none;
  transition: 1s;
}

.tileHidden {
  display: none;
}
.winnerText {
  margin-bottom: 0.5rem;
}
.playBtn {
  margin-top: 0.5rem;
  background: rgb(255, 248, 152);
  background: linear-gradient(
    238deg,
    rgba(255, 248, 152, 1) 0%,
    rgba(7, 252, 240, 1) 0%,
    rgba(253, 114, 255, 1) 49%,
    rgba(255, 250, 0, 1) 100%
  );
  background-size: 300px;
  background-position: left;
  color: white;
  border-radius: 3px;
  padding: 0.4rem;
  border: none;
  width: 210px;
  transition: 0.3s background-position ease-in-out;
}

.playBtn:hover {
  background-position: right;
  color: white;
  border-radius: 3px;
  padding: 0.4rem;
  border: none;
  width: 210px;
  box-shadow: 0px 15px 20px rgba(34, 66, 53, 0.4);
  transform: translateY(-2px);
  transition: 0.5s;
}
