@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
  background: rgb(255, 164, 164);
  background: linear-gradient(
    180deg,
    rgba(255, 164, 164, 1) 0%,
    rgba(255, 248, 156, 1) 49%,
    rgba(206, 247, 255, 1) 100%
  );
  height: 100vh;
}
h1 {
  padding: 1.5rem;
  color: rgb(4, 163, 163);
}

.points {
  width: 410px;
  margin: auto;
}

.gridBox {
  margin-top: 1.5rem;
}
.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 0.2rem;
  width: 31.7vw;
  text-align: center;
}
.tile {
  background-color: rgb(182, 117, 247);
}

.tileVisible {
  width: 100px;
  height: 100px;
  padding-top: 2.5rem;
  display: block;
}
.tileHidden {
  display: none;
}

.tile[disabled] {
  pointer-events: none;
  opacity: 0.7;
}
